@import "./variables.scss";

.mainContainer {
  height: 100vh;
  background-color: $background-color-primary;
  -webkit-transition: $background-color-transition;
  -ms-transition: $background-color-transition;
  transition: $background-color-transition;
}

.darkModeTheme {
  background-color: $background-color-dark-primary;
  color: $text-color-primary-dark;
  -webkit-transition: $background-color-transition;
  -ms-transition: $background-color-transition;
  transition: $background-color-transition;

  h2 {
    color: $text-color-primary-dark;
  }
}
